<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="maths">Name: </label>
        <input type="text" id="name" name="maths">
        <label for="c">c: </label>
        <input type="text" id="name" name="c">
        <label for="sql">SQL: </label>
        <input type="text" id="name" name="sql">
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>